{% extends "layout.html" %}
 
{% block title %}
    Update Profile
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="blue">Inteetsgintern</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
                <!-- insert a navbar for logging in and registering-->
                <ul class="navbar-nav me-auto mt-2">
                </ul>
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                </ul>
        </div>
    </div>
</nav>
{% endblock %}
 
{% block main %}
    <div class="container top">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="middle-col">
                    <div class="border border-primary-0 rounded content">
                        <h4>Hello</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

{% endblock %}