{% extends "layout.html" %}
 
{% block title %}
    Login Account
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="blue">Inteetsgintern</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
        </div>
    </div>
</nav>
{% endblock %}
 
{% block main %}
    <div class="container top">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="middle-col">
                    <div class="border border-primary-0 rounded login">
                        <form action="/register" method="post">
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tele_user" name="tele_user" placeholder="Telegram Username" type="text">
                            </div>
                            <div class="mb-3">
                                <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
                            </div>
                            <div class="mb-3">
                                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
                            </div>
                            <button class="btn btn-primary" type="submit">Create Account</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

{% endblock %}